[client]
default-character-set=utf8
#character_set_client=utf8

[mysqld]
#init_connect='SET collation_connection = utf8_unicode_ci'
character-set-server=utf8
#collation-server=utf8_unicode_ci

pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock

# Where the database files are stored inside the container
datadir=/var/lib/mysql

# My application special configuration
max_allowed_packet=32M
sql-mode='STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'

# Accept connections from any IP address
bind-address=0.0.0.0

# Cache
query_cache_size=64M
query_cache_limit=2M
query_cache_type=1
query_cache_min_res_unit=2K

# настройка по https://my.support.by/index.php?rp=/knowledgebase/147/%D0%9E%D0%BF%D1%82%D0%B8%D0%BC%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-MySQL.html
[mysqld]
key_buffer_size=128M
#sort_buffer_size=8M

# для myisam
myisam_sort_buffer_size=2G
#query_cache_size=128M
query_cache_type=1
#thread_cache_size=16
#join_bufer_size=1M
max_heap_table_size=128M
tmp_table_size=128M

# для innodb
#max_allowed_packet=1M
sort_buffer_size=64M
innodb_file_per_table=1
read_buffer_size=256K
read_rnd_buffer_size=16M
thread_stack=128K
query_cache_limit=1M
#query_cache_size=0
query_cache_type=1
thread_cache_size=4
myisam_recover_options=BACKUP
max_heap_table_size=128M
tmp_table_size=128M

#innodb_buffer_pool_size=512M
#innodb_log_file_size=256M
#innodb_log_buffer_size=256M

#Изменим значение innodb_flush_log_at_trx_commit = 0, таким образом буфер не будет
#сбрасываться на диск, а только в кеш операционной системы.
#Перенесем временные файлы Mysql в оперативную память — в файле /etc/my.cnf укажем
innodb_flush_log_at_trx_commit=0
tmpdir=/dev/shm

table_open_cache=4096
innodb_open_files=4096

innodb_read_io_threads=4
innodb_write_io_threads=4
innodb_thread_concurrency=8

innodb_buffer_pool_size=2G
innodb_log_file_size=4M
innodb_log_buffer_size=4M

# для Bitrix
innodb_flush_method=O_DIRECT
transaction_isolation=READ-COMMITTED
